body {
  background-color: #222426;
  padding: 1rem;
}

img {
  max-width: 40px;
  margin: 20px;
}

div.enemies {
  height: 90vh;
  width: 90vw;
  margin: 0 auto;
}

div#player-bar {
  position: fixed;
  bottom: 5px;
  width: 100%;
  height: 65px;
}

div#info {
  color: #11ff44;
  width: 100%;
  text-align:center;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5;
  margin-top: 10%;
  cursor: pointer;
}

div.enemy-row {
  max-width: 800px;
}


